<li>
  <div class="row">
    <div class="<%= user.id == meme.user_id ? 'meme-sent' : 'meme-received' %>">
      <%=image_tag(meme.name, style: 'height:100px; width: 100px;') %> 
    </div>
  </div>
</li>