<div class="container">
    <header class="jumbotron hero-spacer">
        <h1 align="center"><span class="black-white-text">Be My Meme</span></h1>
    </header>
        <hr>

    <section class="black-white-text-section">   
        <div class="container">
        <h3>Tired of chat-up lines? Try chat-up Memes!</h3>
        <p>Meme your way to true love with BeMyMeme.</p>
        <p>Fresh memes served hourly for your romantic needs.</p>
        <img src="http://i.imgur.com/9ILOEmn.png" alt="Be My Meme profile example" style="width: 94%; margin: 1em;">
        </div>
    </section>
    <hr>

    <section class="white-black-text-section">
        <div class="container">
        <h3>Chat with prospective partners in realtime!</h3>
        <p>Talk with multiple matches simultaneously!</p>
        <p>Meme + chat + you = <3 <3 <3 Much wow!</p>
<!--        <iframe src="//giphy.com/embed/xUA7b8NRNt7lwoj31e?hideSocial=true" width="600" height="326" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> -->
        <img src="http://i.imgur.com/G07Tffs.gif">
       </div>
   </section>
        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p align="center">Copyright &copy; <a href="https://github.com/Justinio14/BeMyMeme/">BeMyMeme</a> 2017</p>
                </div>
            </div>
        </footer>

    </div>
  
