<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BeMyMeme</title>

</head>

<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1 align="center">Be My Meme</h1>
            <h3 align="center"> Meme your way to true love </h3>

        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Meme me</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="https://mediaslide-europe.storage.googleapis.com/immmodels/pictures/381/118/profile-1449494305-02e1ee31d3853c34deae4bc44e37b080.jpg" >
                    <div class="caption">
                        <h3>Andy</h3>
                        <p>Always around when you need me.</p>
                      </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="https://s-media-cache-ak0.pinimg.com/736x/07/be/14/07be14a10d6669696e1cae5934d26bbb.jpg" >
                    <div class="caption">
                        <h3>Lisa</h3>
                        <p>Enjoy nights out</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://jobfind.biz/wp-content/uploads/2016/06/Necessities-to-be-a-male-model.jpg" >
                    <div class="caption">
                        <h3>Derek</h3>
                        <p>gets shirty after a couple of scoops.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://blogs-images.forbes.com/qa/files/2014/08/1d4e180d292cf514f4c1e11b993e929b.jpg" >
                    <div class="caption">
                        <h3>Sharon</h3>
                        <p>likes to collect fine art</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p align="center">Copyright &copy; BeMyMeme 2017</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
