/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.jumbotron {
  background-image: url("http://assets.vr-zone.net/19654/the-internet.jpg");
}

.section-padding{
  padding: 30px;
}

.profile-col{
  background-color: #C1D4F7;
  padding: 30px;
  border-radius: 1%;
  height: inherit;
}

.user-image{
  border-radius: 1%;
  box-shadow: 3px 3px 1px #888888;
}

 .notice{
  font-size: 12px;
  color: white;
  padding: 100px;
 }

.black-white-text{
 background-color: black; 
 color: white;
}

@import "bootstrap-sprockets";
@import "bootstrap";

#user_image{
  background-color: #5bc0de;
  color: white;
}

.dark-grey-text{
  color: #191919;
}

ul {   
  padding-left: 0px;
  list-style: none;
 }

.notice {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 18px;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
   position: relative;
   background-color: #D9EDF7;
   border-color: #BCE8F1;
   margin: 5px 20px;
   padding: 10px;
   float: right;
 }

.message-received {
   background-color: #F1F0F0;
   border-color: #EEEEEE;
   margin: 5px 20px;
   padding: 10px;
   float: left;
}

.profile-image{
  text-align: center;
  border-color: 2px gray;
  border-radius: 20px;
  padding: 20px;
}

.profile-text{
  text-align:center;
  padding: 10px;
}

.username{
  font-style: bold;
  font-size: 32px;
}

.user-meme-container{
  width: 100%;
  line-height: 460px;
}

.user-meme{
  float: left;
  width: 15%;
}

.meme-gallery{
  background-color: #C1D4F7;
}

.panel-heading{
  background-color: #222222 !important;
  border-color: #222222 !important;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

col-xs-15 {
    width: 19%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
        width: 19%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 19%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 19%;
        float: left;
    }
}